

body {
    text-align: center;
   }
   .button {
       margin: 10px;
       padding: 15px 20px 15px 20px;
       color: white;
       font-size: 24px;
       background-color: rgb(167, 167, 167);
       border-radius: 20px;
       border: none;
   }
   
   .button:hover {
       background-color: white;
       color: rgb(167, 167, 167);
       border: 1px solid rgb(167, 167, 167);
   }
   
   #number {
       border: 5px solid rgb(167, 167, 167);
       border-radius: 10px;
       text-align: center;
       padding: 10px 15px 10px 15px;
       font-size: 12px;
       width: 20px;
   }